<!DOCTYPE html>

    {{template "_head.html"}}

<!-- NAVBAR
================================================== -->
  <body>
    {{template "_navbar.html"}}

    <!-- Carousel
    ================================================== -->

    {{template "_carrusel.html"}}

    <!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="../..///img/bi-redondo.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Offensive Security</h2>
	  <p><ul>
		  <li>CEH certified professional, IACRB, Ethical hacker</li>
		  <li>custom, blackbox or whitebox penetretation testing</li>
		  <li>Vulnerability scanning and Assesments</li>
	  </ul></p>
          <p><a class="btn btn-default" href="osecurity" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../..///img/bi-redondo.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Defensive Security</h2>
	  <p><ul>
		  <li>Thread assesment</li>
		  <li>continues 24/7 Thread and vulnerability monitoring</li>
		  <li>Information Methology and security critical controls</li>
		  <li>ISO 27001, HIPAA privacy and security, SOGP work</li>
	  </ul></p>
          <p><a class="btn btn-default" href="dsecurity" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../..///img/bi-redondo.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Remediation and constant administration</h2>
	  <p><ul>
		  <li>Intrusion Detection and Prevention systems (IDS/IPS) instalations</li>
		  <li>Firewalls, ACLs and Perimeter defenses</li>
		  <li>HoneyPots, attack mitigation and DDOS defense services</li>
		  <li>GNU/Linux server upgrading, patching, installs and hardening</li>
		  <li>Securing and setting up server applications</li>
		  <li>General network and systems administration with security in mind</li>
	  </ul></p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Friendly to startups<span class="text-muted"> Wont break your budget.</span></h2>
          <p class="lead">Not just friendly but we are experienced in working with small companies, non-profits and small teams, we 
	  know that as a startup you have a tied security budget, with us you can have quality work and a startup cost.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../..///img/cuadro1.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Deeper into Defensive action. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="../..///img/cuadro1.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Continues security and system administration<span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../..///img/cuadro1.png" alt="Generic placeholder image">
        </div>
      </div>
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
	
      {{template "_foot.html"}}

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../..//js/jquery.min.js"><\/script>')</script>
    <script src="../..//js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../..//js/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../..//js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

